@media (max-width: 767px) {
    
    @font-face {
        font-family: 'magistral';
        src: url("./fonts/Magistral-Medium.ttf");
    }

    body {
        font-family: 'magistral';
        background-image: url("./background-home.jpg");
        color: white;
        font-size: 15px;
        background-size:800px;
        background-position-x: 80%;
        background-position-y: 0px;
        background-repeat: no-repeat;
    }

    *{
        margin: 0;
        padding: 0;
    }

    .header{
        position: sticky;
        top: 0;
        align-items: center;
        transition: background-color .5s ease;
    }
    
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: transparent;
    }

    .header-scrolled{
        background-color: #6e0d25;
    }
    
    #logo-header{
        width: 50px;
        height: 50px;
        filter: invert(1);
    }

    .section{
        padding: 10px;
        margin-top: 100px;
    }

    .droptool {
        display: none;
    }

    .droptool.active{
        display: block;
        padding: 10px;
    }

    .droptool.active a{
        text-decoration: none;
        font-size: 18px;
    }
}