@font-face {
    font-family: 'magistral';
    src: url('./fonts/Magistral-Medium.ttf');
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url('./background-home.jpg');
    font-family: 'magistral';
    color: whitesmoke;
    font-size: 0.75rem;
}

/* Parte do Header */

.header{
    position: relative;
    margin: 0 auto ;
    display: flex;
    padding-top: 1.25rem;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    width: 3.125rem;
    height: 3.125rem;
    filter: invert(1);
    padding: 10px;
}

/* Responsavel por esconder a lista */

.header ul{
    display: none;
}

.header.active ul{
    display: flex;
    position: absolute;
}



#menu-mobile{
    font-family: 'magistral';
    color: aliceblue;
    margin: 0 auto;
    border-radius: 10%;

    /* tamanho  */
    width: 50px;
    height: 50px;
    
    background: rgba( 110, 13, 37, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.6 );
    -webkit-backdrop-filter: blur( 8px );
}


/* Parte do about us */

.about-us{
    background-image: url(./background-about-us.jpg);
    z-index: -1;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px ;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    box-shadow: 0px -12px 3px rgba(0, 0, 0, 0.2);

    display: -webkit-inline-flex;
    align-items: center;
    padding: 1.25rem;
}

.about-us .topico-1{
    width: 0.625rem;
    height: 2.0625rem;
    background-color: #6e0d25;
    margin-left: 0.625rem;
    margin-right: 15px;
    border-radius: 0.625rem;
}

.about-us h1{
    padding: auto;
    text-shadow: 1.3px 1.3px 1.3px black;
    display: flex;
    align-items: center;
    font-size: 1.5625rem;
}

.services-item img {
    width: 40px;
    height: 40px;
}

.services.hidden {
    display: flex;
    flex-direction: column;
}

.services-item{
    width: 12.5rem;
    height: 9.375rem;
    padding-top: 25px;
    margin: 0 auto;
    border-radius: 10%;
    

    flex-direction: column;
    align-items: center;
    text-align: center;


    margin-top: 20px;

    background: rgba( 110, 13, 37, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.6 );
    -webkit-backdrop-filter: blur( 8px );
}





/*  tirando os icones do wpp e instagram pra melhor visuzalizacao */
@media only screen and (max-width: 480px) {

.icons.hidden{
    display: none;
}

.icons-about{
    display: none;
}
}